@charset "UTF-8";
/*****   BACKGROUNS COLORS   *****/
/*****   FONTS   *****/
/***** ANIMATIONS *****/
/***** RESPONSIVE *****/
/***** CONTACT *****/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

.contact-title {
  background: -webkit-gradient(linear, left top, right top, from(#fee140), to(#fa709a));
  background: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 25%;
  position: relative;
  font-size: calc(0.7em + 1.5vh);
  font-weight: 200;
  text-align: center;
  pointer-events: none;
  margin: 5% 0 3%;
}

.type-web {
  font-weight: 600;
}

.type-js {
  font-style: italic;
  color: #d9ff00;
}

.type-front {
  font-weight: 600;
  word-break: break-word;
}

.type-react {
  font-style: italic;
  color: #12fff7;
}

.type-full {
  font-weight: 600;
}

.contact-links {
  width: 80%;
  height: 25%;
  position: absolute;
  top: 11%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.contact-links-link {
  opacity: 0;
  -webkit-animation: showLinks 0.8s ease-out forwards;
          animation: showLinks 0.8s ease-out forwards;
}

.contact-links-link svg {
  fill: currentColor;
  width: auto;
  height: 7vh;
}

.link-phone {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.link-linkedin {
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.link-github {
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.link-cv {
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/***** CONTACT FORM *****/
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 80%;
  position: relative;
  font-size: calc(0.5em + 1.3vh);
  font-weight: 300;
}

.contact-form-error {
  display: none;
  font-size: calc(0.5em + 1.3vh);
  line-height: calc(0.6em + 1.3vh);
  text-align: center;
  color: red;
}

.contact-form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 3%;
  opacity: 0;
  z-index: 1;
  -webkit-animation: showLabels 1s ease-out 1.2s forwards;
          animation: showLabels 1s ease-out 1.2s forwards;
}

.contact-form input {
  width: 99%;
  display: block;
  position: relative;
  font-family: "Nunito", sans-serif;
  font-size: calc(0.6em + 1.3vh);
  background: -webkit-gradient(linear, right top, left top, from(#ece9e6), to(#ffffff));
  background: linear-gradient(to left, #ece9e6, #ffffff);
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
  z-index: 2;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.contact-form input::-webkit-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form input:-ms-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form input::-ms-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form input::placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 99%;
}

.contact-form-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-form-message textarea {
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: calc(0.6em + 1.3vh);
  background: -webkit-gradient(linear, right top, left top, from(#ece9e6), to(#ffffff));
  background: linear-gradient(to left, #ece9e6, #ffffff);
  border-radius: 5px;
  padding: 1%;
  z-index: 3;
}

.contact-form-message textarea::-webkit-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form-message textarea:-ms-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form-message textarea::-ms-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form-message textarea::placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-name {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  -webkit-animation: showInputName 0.5s ease-out 0.6s forwards;
          animation: showInputName 0.5s ease-out 0.6s forwards;
}

.contact-email {
  -webkit-transform: translateY(18vh);
          transform: translateY(18vh);
  -webkit-animation: showInputEmail 0.5s ease-out 0.8s forwards;
          animation: showInputEmail 0.5s ease-out 0.8s forwards;
}

.contact-container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-button {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: calc(0.5em + 1.5vh);
  background-color: #07c82a;
  padding: 1% 3%;
  margin: 4% auto 2%;
  border-radius: 5px;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  z-index: 1;
  -webkit-animation: showSubmit 1s ease-out 1s forwards;
          animation: showSubmit 1s ease-out 1s forwards;
}

.contact-button-error {
  background-color: #823737;
  color: red;
  cursor: default;
}

.contact-button-error:active {
  background-color: #d10202;
}

.form-success {
  min-height: 40vh;
  border-radius: 10px;
  margin-bottom: 7%;
}

/***** RESPONSIVE  *****/
@media (min-width: 750px) {
  .contact-form label {
    margin: 2% 0;
  }
}

@media (min-width: 990px) {
  .contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    overflow: hidden;
  }
  .contact-author {
    height: auto;
    margin: 1% 0;
  }
  .contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: _;
            flex-direction: _;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    width: 60%;
    height: auto;
    position: relative;
  }
  .contact-form {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    font-size: calc(0.5em + 1.3vh);
  }
  .contact-form-error {
    margin: 2% 0;
  }
  .contact-form-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
    margin-bottom: 1%;
  }
  .contact-form label {
    margin: 1% 0 1.5%;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
  .contact-form input {
    width: 99%;
    font-size: calc(0.5em + 1.3vh);
    padding: 1%;
  }
  .contact-form textarea {
    font-size: calc(0.5em + 1.3vh);
    padding: 1%;
  }
  .contact-container-info {
    width: 45%;
  }
  .link-phone,
  .link-linkedin,
  .link-github,
  .link-cv {
    -webkit-transition: color 0.2s, -webkit-transform 0.5s ease-out;
    transition: color 0.2s, -webkit-transform 0.5s ease-out;
    transition: color 0.2s, transform 0.5s ease-out;
    transition: color 0.2s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact-links-link:hover {
    position: relative;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    fill: #000;
  }
  .link-github {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .link-cv {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .contact-name {
    -webkit-transform: translateY(18vh);
            transform: translateY(18vh);
    -webkit-animation: showNameLarge 0.8s ease-out 0.6s forwards;
            animation: showNameLarge 0.8s ease-out 0.6s forwards;
  }
  .contact-email {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-animation: showEmailLarge 0.8s ease-out 0§s forwards;
            animation: showEmailLarge 0.8s ease-out 0§s forwards;
  }
  .contact-button {
    font-size: calc(0.6em + 1.3vh);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin: 2% auto;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-animation: showSubmitLarge 0.8s ease-out 0.6s forwards;
            animation: showSubmitLarge 0.8s ease-out 0.6s forwards;
  }
  .contact-button:hover {
    -webkit-box-shadow: inset 0px 0px 1px 1px #07c82a;
            box-shadow: inset 0px 0px 1px 1px #07c82a;
    background-color: transparent;
    color: #fff;
  }
  .contact-button:active {
    background-color: #07c82a;
  }
  .contact-button-error:hover {
    -webkit-box-shadow: inset 0px 0px 1px 1px #d10202;
            box-shadow: inset 0px 0px 1px 1px #d10202;
    color: red;
  }
  .contact-button-error:active {
    background-color: #d10202;
  }
  .form-success {
    margin-bottom: 3%;
  }
}

/***** ANIMATIONS  *****/
@-webkit-keyframes showLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes showInputName {
  from {
    -webkit-transform: translateY(30vh);
            transform: translateY(30vh);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showInputEmail {
  from {
    -webkit-transform: translateY(18vh);
            transform: translateY(18vh);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showSubmit {
  from {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showNameLarge {
  from {
    -webkit-transform: scaleX(0.3) translate(50%, 18vh);
            transform: scaleX(0.3) translate(50%, 18vh);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@keyframes showNameLarge {
  from {
    -webkit-transform: scaleX(0.3) translate(50%, 18vh);
            transform: scaleX(0.3) translate(50%, 18vh);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@-webkit-keyframes showEmailLarge {
  from {
    -webkit-transform: scaleX(0.3) translate(-50%, 18vh);
            transform: scaleX(0.3) translate(-50%, 18vh);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@keyframes showEmailLarge {
  from {
    -webkit-transform: scaleX(0.3) translate(-50%, 18vh);
            transform: scaleX(0.3) translate(-50%, 18vh);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@-webkit-keyframes showLabels {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showLabels {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showSubmitLarge {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
/*# sourceMappingURL=Contact.css.map */