@import "./variables";
@import "./mixins";

/***** CONTACT *****/
.contact {
  @include flex(column, initial);
  width: 100%;

  &-title {
    background: $light_back_contact;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // Text author
  &-author {
    @include flex;
    width: 60%;
    height: 25%;
    position: relative;
    font-size: calc(0.7em + 1.5vh);
    font-weight: 200;
    text-align: center;
    pointer-events: none;
    margin: 5% 0 3%;
  }
}

// Text style typewriter
.type {
  &-web {
    font-weight: 600;
  }
  &-js {
    font-style: italic;
    color: #d9ff00;
  }
  &-front {
    font-weight: 600;
    word-break: break-word;
  }
  &-react {
    font-style: italic;
    color: #12fff7;
  }
  &-full {
    font-weight: 600;
  }
}

// container links
.contact-links {
  width: 80%;
  height: 25%;
  position: absolute;
  top: 11%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &-link {
    opacity: 0;
    animation: showLinks 0.8s ease-out forwards;

    & svg {
      fill: currentColor !important;
      width: auto;
      height: 7vh;
    }
  }
}
// link phone
.link-phone {
  justify-self: flex-start;
  align-self: flex-start;
  animation-delay: 0.1s;
}
// link linkedin
.link-linkedin {
  justify-self: flex-end;
  align-self: flex-start;
  animation-delay: 0.2s;
}
// link github
.link-github {
  justify-self: flex-start;
  align-self: flex-end;
  animation-delay: 0.4s;
}
// link CV
.link-cv {
  justify-self: flex-end;
  align-self: flex-end;
  animation-delay: 0.3s;
}

/***** CONTACT FORM *****/
.contact-form {
  @include flex(column, space-evenly);
  justify-self: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
  width: 80%;
  position: relative;
  font-size: calc(0.5em + 1.3vh);
  font-weight: 300;

  // Error message
  &-error {
    display: none;
    font-size: calc(0.5em + 1.3vh);
    line-height: calc(0.6em + 1.3vh);
    text-align: center;
    color: red;
  }

  // All labels
  & label {
    align-self: flex-start;
    margin-bottom: 3%;
    opacity: 0;
    z-index: 1;
    animation: showLabels 1s ease-out 1.2s forwards;
  }

  // All inputs
  & input {
    width: 99%;
    display: block;
    position: relative;
    font-family: "Nunito", sans-serif;
    font-size: calc(0.6em + 1.3vh);
    color: #000 !important;
    background: $light_back_inputs;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.5s ease-out;

    &::placeholder {
      color: rgba(177, 29, 29, 0.697);
    }
  }

  // Container inputs Name & Email
  &-infos {
    @include flex(column, space-evenly);
    flex-grow: 1;
    width: 99%;
  }

  // Container textarea
  &-message {
    @include flex(column);
    width: 100%;

    & textarea {
      width: 100%;
      font-family: "Nunito", sans-serif;
      font-size: calc(0.6em + 1.3vh);
      color: #000 !important;
      background: $light_back_inputs;
      border-radius: 5px;
      padding: 1%;
      z-index: 3;

      &::placeholder {
        color: rgba(177, 29, 29, 0.697);
      }
    }
  }
}

// Input Name
.contact-name {
  transform: translateY(30vh);
  animation: showInputName 0.5s ease-out 0.6s forwards;
}

// Input Email
.contact-email {
  transform: translateY(18vh);
  animation: showInputEmail 0.5s ease-out 0.8s forwards;
}
// Container one input Name || Email
.contact-container-info {
  @include flex(column);
  width: 100%;
}

// Button submit
.contact-button {
  position: relative;
  justify-self: center;
  font-size: calc(0.5em + 1.5vh);
  background-color: rgb(7, 200, 42);
  color: #000;
  padding: 1% 3%;
  margin: 4% auto 2%;
  border-radius: 5px;
  transform: translateY(-300%);
  z-index: 1;
  animation: showSubmit 1s ease-out 1s forwards;

  &-error {
    background-color: rgb(130, 55, 55);
    color: red;
    cursor: default;

    &:active {
      background-color: rgb(209, 2, 2);
    }
  }
}

.form-success {
  min-height: 40vh;
  border-radius: 10px;
  margin-bottom: 7%;
}

/***** RESPONSIVE  *****/
@include media(750px) {
  .contact-form label {
    margin: 2% 0;
  }
}

@include media(990px) {
  .contact {
    justify-content: space-between;
    height: 100%;
    overflow: hidden;

    &-author {
      height: auto;
      margin: 1% 0;
    }

    &-links {
      @include flex(_, space-around, center);
      top: 0;
      width: 60%;
      height: auto;
      position: relative;
    }

    &-form {
      flex-grow: 0;
      font-size: calc(0.5em + 1.3vh);

      &-error {
        margin: 2% 0;
      }

      &-infos {
        @include flex(row, space-between);
        flex-grow: 0;
        width: 100%;
        margin-bottom: 1%;
      }

      & label {
        margin: 1% 0 1.5%;
        animation-delay: 1.4s;
      }

      & input {
        width: 99%;
        font-size: calc(0.5em + 1.3vh);
        padding: 1.5%;
      }

      & textarea {
        font-size: calc(0.5em + 1.3vh);
        padding: 1.5%;
      }
    }

    &-container-info {
      width: 45%;
    }
  }

  // All links
  .link-phone,
  .link-linkedin,
  .link-github,
  .link-cv {
    transition: color 0.2s, transform 0.5s ease-out;
    justify-self: center;
    align-self: center;
  }

  // All links hover
  .contact-links-link:hover {
    position: relative;
    transform: rotate(360deg);
    fill: #000;
  }
  .link-github {
    animation-delay: 0.3s;
  }
  .link-cv {
    animation-delay: 0.4s;
  }

  .contact-name {
    transform: translateY(18vh);
    animation: showNameLarge 0.8s ease-out 0.6s forwards;
  }
  // Input email
  .contact-email {
    justify-content: flex-end;
    animation: showEmailLarge 0.8s ease-out 0§s forwards;
  }

  // Button submit
  .contact-button {
    font-size: calc(0.6em + 1.3vh);
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin: 2% auto;
    transform: translateY(-200%);
    animation: showSubmitLarge 0.8s ease-out 0.6s forwards;

    &:hover {
      box-shadow: inset 0px 0px 1px 1px rgb(7, 200, 42);
      background-color: transparent;
      color: currentColor;
    }

    &:active {
      background-color: rgb(7, 200, 42);
    }

    &-error {
      &:hover {
        box-shadow: inset 0px 0px 1px 1px rgb(209, 2, 2);
        color: red;
      }

      &:active {
        background-color: rgb(209, 2, 2);
      }
    }
  }

  // Gif
  .form-success {
    margin-bottom: 3%;
  }
}

/***** ANIMATIONS  *****/
@include show(showLinks);
@include showY(showInputName, 30vh);
@include showY(showInputEmail, 18vh);
@include showY(showSubmit, -300%);
@keyframes showNameLarge {
  from {
    transform: scaleX(0.3) translate(50%, 18vh);
  }
  to {
    transform: scale(1) translate(0%, 0%);
  }
}
@keyframes showEmailLarge {
  from {
    transform: scaleX(0.3) translate(-50%, 18vh);
  }
  to {
    transform: scale(1) translate(0%, 0%);
  }
}
@keyframes showLabels {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@include showY(showSubmitLarge, -200%);
