/*****   BACKGROUNS COLORS   *****/
/*****   FONTS   *****/
/***** ANIMATIONS *****/
/***** RESPONSIVE *****/
/***** HOME *****/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home-title {
  background: linear-gradient(225deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-img {
  width: 15vh;
  height: 15vh;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background-image: url("../images/Gilou_128x171.jpeg");
  background-position-x: center;
  background-position-y: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  overflow: hidden;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-animation: rotateAuthor 0.5s ease-out 0.5s forwards;
          animation: rotateAuthor 0.5s ease-out 0.5s forwards;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
}

.home-article {
  max-width: 500px;
  text-align: justify;
  overflow-wrap: break-word;
  font-size: calc(0.5em + 1.3vmax);
  line-height: auto;
  font-weight: 300;
  padding: 2% 5%;
  z-index: 1;
  pointer-events: none;
  -webkit-animation: showArticle 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
          animation: showArticle 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.home-asides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.home-asides-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-asides-content-linkOPC {
  width: 10vh;
  height: 10vh;
  background-image: url("../images/logos/OCR_64.svg");
  background-color: red;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.home-asides-content-linkOC {
  width: 10vh;
  height: 10vh;
  background-image: url("../images/logos/Oclock_64.svg");
  background-color: red;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.home-openCR {
  -webkit-animation: showOPC 0.5s ease-out;
          animation: showOPC 0.5s ease-out;
}

.home-oclock {
  -webkit-animation: showOC 0.5s ease-out;
          animation: showOC 0.5s ease-out;
}

.home-text-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(0.5em + 1.5vmax);
  font-weight: 200;
  margin-bottom: 2%;
}

.home-text-author-letters {
  display: inline-block;
  position: relative;
  margin: 0 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-animation: showAuthorHome 0.5s ease-out;
          animation: showAuthorHome 0.5s ease-out;
}

.home-text-author-letters-space {
  opacity: 0;
}

.home-text-author-letters:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.home-text-author:hover {
  cursor: none;
}

.home-text-author-letters:nth-child(1) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.home-text-author-letters:nth-child(2) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.home-text-author-letters:nth-child(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.home-text-author-letters:nth-child(4) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.home-text-author-letters:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.home-text-author-letters:nth-child(6) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.home-text-author-letters:nth-child(7) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.home-text-author-letters:nth-child(8) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.home-text-author-letters:nth-child(9) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.home-text-author-letters:nth-child(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.home-text-author-letters:nth-child(11) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.home-text-author-letters:nth-child(12) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.home-text-author-letters:nth-child(13) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.home-text-author-letters:nth-child(14) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.home-text-author-letters:nth-child(15) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.home-text-author-letters:nth-child(16) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.home-text-author-letters:nth-child(17) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

/***** RESPONSING  *****/
@media (min-width: 750px) {
  .home {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 990px) {
  .home {
    width: 100%;
    max-width: 1800px;
    padding: 0 2%;
  }
  .home-img {
    width: 17vh;
    height: 17vh;
    background-image: url("../images/Gilou_500x667.jpeg");
    position: relative;
    margin: 4% 0;
    z-index: 5;
  }
  .home-img:hover {
    -webkit-filter: contrast(100%);
            filter: contrast(100%);
  }
  .home-article {
    font-size: calc(0.8em + 1vmin);
    width: 60%;
    max-width: 950px;
    text-align: center;
    padding: 0 3%;
    z-index: 1;
  }
  .home-text-author {
    font-size: calc(0.8em + 1vmin);
  }
  .home-asides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: _;
            flex-direction: _;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -21%;
  }
  .home-asides-content-linkOPC,
  .home-asides-content .home-asides-content-linkOC {
    width: 13vh;
    height: 13vh;
  }
  .home-asides-content-linkOPC:hover {
    background-blend-mode: exclusion;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .home-asides-content-linkOC:hover {
    background-blend-mode: exclusion;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

/***** ANIMATIONS  *****/
@-webkit-keyframes showOPC {
  from {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showOC {
  from {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showArticle {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showArticle {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotateAuthor {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes rotateAuthor {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes showAuthorHome {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showAuthorHome {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=Home.css.map */