@import "./variables";
@import "./mixins";

/***** PROJECTS *****/
.projects {
  @include flex(column, space-between);
  width: 100%;

  // Button close view project
  &-close {
    @include flex;
    @include WegualH(4vh);
    display: none;
    color: currentColor;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: all 0.5s ease-out;
    animation: turnStart 0.8s ease-out;

    &-svg {
      height: 70%;
      transition: all 0.5s ease-out;
    }

    &:active {
      box-shadow: 0px 0px 10px 2px currentColor;
    }
  }

  // Title view all projects
  &-title {
    background: $light_back_projects;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1% 0;
  }

  // Container all projects
  &-container {
    width: 100%;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    row-gap: 2%;
    justify-content: space-around;
    overflow-y: auto;
  }

  // One project item
  &-item {
    @include flex(column, space-around);
    width: 80%;
    height: auto;
    max-height: 300px;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    animation: allProjects 0.5s ease-out;

    // Mokup with desktop & mobile
    &-mokup {
      pointer-events: none;
      width: 60%;
      animation: showProjects 0.3s ease-out;
    }

    &-title {
      pointer-events: none;
      font-size: calc(0.5em + 1.5vmin);
      opacity: 0;
      animation: showProjectsTitle 0.5s ease-out forwards;
    }
  }
}

// Projects list animations delay
// GillesLaurant.fr
.projects-item:nth-child(1) {
  animation-delay: 0.2s;
}
.projects-item:nth-child(1) .projects-item-title {
  animation-delay: 0.7s;
}

// ShapeArts.fr
.projects-item:nth-child(2) {
  animation-delay: 0.5s;
}
.projects-item:nth-child(2) .projects-item-title {
  animation-delay: 1s;
}

// ReactDevGillesLaurant.fr
.projects-item:nth-child(3) {
  animation-delay: 0.8s;
}
.projects-item:nth-child(3) .projects-item-title {
  animation-delay: 1.3s;
}

// O'crypto
.projects-item:nth-child(4) {
  animation-delay: 1.1s;
}
.projects-item:nth-child(4) .projects-item-title {
  animation-delay: 1.6s;
}

/***** ONE PROJECT VIEW *****/
.project {
  @include flex(column, space-around);
  position: relative;
  flex-grow: 1;
  display: none;

  // Links with mokup
  &-link {
    @include flex;

    // Mokup desktop
    &-mokupDesk {
      height: 20vh;
    }

    // Mokup mobile
    &-mokupMob {
      height: 12vh;
    }
  }

  // Intro project
  &-intro {
    align-self: center;
    width: 70%;
    height: auto;
    font-size: calc(0.5em + 1.5vmin);
    text-align: center;
    margin: 3% auto;
    opacity: 0;
    z-index: 2;
    animation: showDesc 0.3s ease-out 0.5s forwards;

    &-soon {
      font-size: calc(0.5em + 1vmin);
      filter: contrast(30%);
    }
  }
}

// Link desktop
.link-desk {
  align-self: center;
  position: relative;
  margin: 0 auto;
  z-index: 5;
  transition: all 1s ease-out;
  animation: deskUp 0.8s ease-out;
}

// Link mobile
.link-mob {
  position: absolute;
  margin: 0 auto;
  transition: all 0.5s ease-out;
  z-index: 10;
  transform: scale(1.5) translateY(95%);
  animation: mobDown 1s ease-out;

  // Technos opened
  &.mokup_viewed {
    transform: scale(1) translateY(105%) !important;
  }
}

// Button close technos
.technos-close {
  @include WegualH(3vh);
  @include flex;
  background-color: #fff;
  color: #000;
  padding: 7px;
  opacity: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  animation: showButton 0.3s ease-out forwards;

  &-svg {
    height: 100%;
    animation: animButton 0.8s ease 1.3s forwards;
  }

  // Technos opened
  &.button_viewed {
    transform: rotate(-45deg) !important;
    color: currentColor;
    background-color: transparent;
  }

  &:active {
    transform: scale(1.5);
  }
}

// Container with technos
.techs-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 38% 38%;
  row-gap: 2%;
  column-gap: 10vw;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

// One dependencie to project
.techno {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Logo techno
  &-logo {
    width: 8vw;
    max-width: 35px;
    max-height: 35px;
    position: relative;
    transform: translateX(120%) scale(1.5);
    opacity: 0;
    transition: transform 0.5s ease-out;
    animation: showLogos 0.8s ease-out 1.3s forwards;
  }

  // Description techno
  &-desc {
    max-width: 60%;
    font-size: 0.9em;
    line-height: 1.2em;
    text-align: jusity;
    overflow-wrap: break-word;
    opacity: 0;
    transition: opacity 0.3s ease-out 0.2s;

    // Techno opened
    &.technoDesc_viewed {
      opacity: 1;
    }
  }
}

.techno:nth-child(2n) {
  flex-direction: row-reverse;
  text-align: end;
}
.techno:nth-child(2n) .techno-logo {
  transform: translateX(-120%) scale(1.5);
}
.techno:nth-child(2n) .techno-logo.technoLogo_viewed,
.techno-logo.technoLogo_viewed {
  transform: translateX(0%) scale(1);
}

/***** RESPONSIVE  *****/

// Tabletts
@include media(750px) {
  // All projects view
  .projects {
    width: 100%;

    &-container {
      align-items: center;
    }

    // Project items
    &-item {
      height: 200px;
      width: 100%;

      &-mokup {
        width: 80%;
        margin-bottom: 1%;
      }
    }
  }
  // Delays animations
  .projects-item:nth-child(3) {
    animation-delay: 1.1s;
  }
  .projects-item:nth-child(3) .projects-item-title {
    animation-delay: 1.6s;
  }
  .projects-item:nth-child(4) {
    animation-delay: 0.8s;
  }
  .projects-item:nth-child(4) .projects-item-title {
    animation-delay: 1.3s;
  }
}

// Laptops & large screens
@include media(990px) {
  // All projects view
  .projects {
    // Button close view one project
    &-close {
      @include WegualH(4.5vh);
      position: relative;
      padding: 5px;
      margin: 2% auto 0% 20%;
      transition: all 0.3s ease-out;

      &-svg {
        height: 80%;
      }

      &:hover {
        transform: rotate(90deg);
        background-color: currentColor;
      }

      &:hover svg {
        filter: invert(1);
      }
    }

    &-container {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10%;
    }

    // Project items
    &-item {
      justify-content: space-evenly;
      height: auto;
      width: 90%;
      padding-top: 4%;
      transition: background-color 0.5s ease-out, box-shadow 0.8s ease-out;

      &-mokup {
        width: 60%;
        margin-bottom: 2%;
        transition: all 0.5s ease-out;
      }

      &:hover {
        box-shadow: 0px 0px 30px 1px currentColor;
      }

      &:active {
        background-color: currentColor;
      }
    }
  }

  // One project view
  .project {
    width: 70%;
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 3;
    pointer-events: none;
    animation: isAnimate 1s forwards;

    // Links with mokup
    &-link {
      margin-bottom: 2%;

      &-mokupDesk {
        height: auto;
        width: 35vw;
        max-width: 500px;
      }

      &-mokupMob {
        height: 12vw;
        max-height: 200px;
      }
    }

    // Description project
    &-intro {
      grid-column: 1 / 12;
      grid-row: 1 / 2;
      font-size: 1.3em;
      margin: 0 auto;

      &-soon {
        font-size: 1.1rem;
      }
    }

    // Animations components on hover project
    &:hover {
      .link-desk {
        transform: translateX(-60%);
      }
      .link-mob {
        transform: translate(400%, 0%);
      }
      .techno-logo {
        transform: translateY(0) !important;
      }
      .techno-desc {
        opacity: 1;
      }
    }
  }

  // Link desktop
  .link-desk {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
    transition: all 0.5s ease-out;
    animation: deskLeft 0.8s ease-out;
  }

  // Link mobile
  .link-mob {
    grid-column: 1 / 12;
    grid-row: 2 / 3;
    position: relative;
    transform: scale(1) translateY(0%);
    top: 2vw;
    transition: all 0.5s ease-out;
    animation: mobRight 0.8s ease-out;
  }

  // Button close show technos
  .technos-close {
    display: none;
  }

  .techs-container {
    @include flex(_, space-evenly);
    grid-column: 2 / 11;
    grid-row: 3 / 4;
    flex-grow: initial;
    column-gap: unset;
    margin: 0 auto;
  }

  // One techno container
  .techno {
    @include flex(column, space-around);
    max-width: 8vw;
    padding: 0 1%;

    // Logo techno
    &-logo {
      width: auto;
      height: 100%;
      max-height: 60px;
      max-width: 100px;
      transition: all 0.5s ease-out !important;
      transform: translate(0%, 100%) scale(1.2);
      animation: showLogosLarge 0.5s ease-out forwards;
    }

    // Description techno
    &-desc {
      max-width: 200px;
      font-size: 1em;
      font-weight: 200;
      text-align: center;
      transition: opacity 0.5s ease-out 0.1s !important;
    }

    &:hover.techno-logo {
      transform: translateY(0) scale(1) !important;
    }

    &:hover.techno-desc {
      opacity: 1 !important;
    }
  }

  .techno:nth-child(2n) {
    @include flex(column, space-around);
  }

  .techno:nth-child(2n) .techno-logo {
    width: auto;
    height: 100%;
    max-height: 60px;
    max-width: 100px;
    transform: translate(0%, 100%) scale(1.2);
  }

  // Delays animations
  .techno:nth-child(1) .techno-logo {
    animation-delay: 0;
  }
  .techno:nth-child(2) .techno-logo {
    animation-delay: 0.1s;
  }
  .techno:nth-child(3) .techno-logo {
    animation-delay: 0.2s;
  }
  .techno:nth-child(4) .techno-logo {
    animation-delay: 0.3s;
  }
  .techno:nth-child(5) .techno-logo {
    animation-delay: 0.4s;
  }
  .techno:nth-child(6) .techno-logo {
    animation-delay: 0.5s;
  }
  .techno:nth-child(7) .techno-logo {
    animation-delay: 0.6s;
  }
  .techno:nth-child(8) .techno-logo {
    animation-delay: 0.7s;
  }
}

/***** ANIMATIONS  *****/

// show mokup
@include show(showProjects);

// color list projects
@keyframes allProjects {
  from {
    background-color: transparent;
  }
  30% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}

// show names projects in list
@keyframes showProjectsTitle {
  from {
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// Animations one project
@include rotate(turnStart);
@include showY(deskUp, 100%);
@include show(showDesc);
@include show(showButton);
@include rotate(turnTechnos, 0deg, 45deg);
@include show(showLogos);
@keyframes mobDown {
  from {
    transform: scale(1) translateY(-200%);
  }
  50% {
    transform: scale(1.5) translateY(95%);
  }
  to {
    transform: scale(1.5) translateY(95%);
  }
}
@keyframes animButton {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
    fill: currentColor !important;
  }
}

/***** ANIMATIONS LARGE SCREEN  *****/
@include showX(deskLeft, -150%);
@include showX(mobRight, 350%);
@keyframes mobRight {
  from {
    transform: translate(350%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@include show(showLogosLarge);
@keyframes isAnimate {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: all;
  }
}
