@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/Home.scss";
@import "./scss/Projects.scss";
@import "./scss/Contact.scss";
/***** RESET *****/
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  color: inherit;

  &::-webkit-scrollbar {
    display: none;
  }
}
svg {
  pointer-events: none;
  fill: currentColor;
}
a {
  &:-webkit-any-link {
    appearance: none;
    text-decoration: none;
    border: none;
    color: inherit;
  }
  &:visited {
    color: currentColor !important;
  }
  &:link {
    color: currentColor !important;
  }
}
html {
  background-color: #000;
}

@font-face {
  font-family: "Anton";
  src: local("Anton"), local("Anton-Regular"), local("Anton Regular"),
    url("/public/assets/fonts/Anton-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), local("Nunito-Regular"), local("Nunito Regular"),
    url("/public/assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 600;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("/public/assets/fonts/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 600;
  font-style: italic;
  font-display: swap;
}
/***** HEADER APP *****/
.header {
  @include flex(_, space-between);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 6%;
  padding: 0 3%;
  z-index: 100;
  overflow: hidden;

  // Nav
  &-nav {
    width: 60%;

    &-list {
      @include flex(_, space-around);
    }
  }
}

.nav-items {
  font-size: calc(0.5em + 1.5vmin);
  line-height: 1;
  font-weight: 400;
  cursor: pointer;
}

// Nav item hidden
.activeNav {
  display: none;
}

// Button theme
.toggleTheme {
  @include flex;
  height: 5vh;
  max-height: 50px;
  position: relative;
  background-color: transparent;
  padding: 1%;
  cursor: pointer;
  border-radius: 50%;
  animation: showThemeButton 1s ease-out forwards;

  & img {
    height: 3vh;
  }
}

// Button lang
.toggleLang {
  @include flex;
  height: 5vh;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 !important;
  animation: showLangButton 1s ease-out forwards;

  & img {
    height: 3.5vh;
  }
}

/***** APP *****/
#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6vh 2% 2%;
  font-family: "Nunito", sans-serif;
  flex-grow: 1;
}

// Colors dark mode
.darkMode {
  background-color: $dark_back;
  color: $dark_font;
}

// Colors Home light mode
.lightMode_home {
  background: $light_back_home;
  color: $light_font;
}

// Colors Projects light mode
.lightMode_projects {
  background: $light_back_projects;
  color: $light_font;
}

// Colors contact light mode
.lightMode_contact {
  background: $light_back_contact;
  color: $light_font;
}

/***** MAIN *****/
main {
  @include flex(_, _, stretch);
  position: relative;
  height: 100%;
  transition: all 0.5s;

  // Title app
  & h1 {
    text-align: center;
    font-family: "Anton";
    font-size: calc(2em + 2vmin);
    line-height: 1;
    margin: 3% 0 2%;
    pointer-events: none;

    &.projects-title.portfolio {
      font-size: 1.8em;
    }
  }
}

/***** LOADER  *****/

.loader {
  display: inline-block;
  align-content: center;
  position: relative;
  width: 80px;
  height: 15px;
}
.loader-points {
  position: absolute;
  top: 0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-points:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loader-points:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
}
.loader-points:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
}
.loader-points:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
}

/***** RESPONSIVE  *****/

@include media(750px) {
  main h1 {
    font-size: 3em;
    margin: 1% auto;
  }
}

@include media(990px) {
  .header {
    height: 5vh;
  }

  .toggleLang img,
  .toggleTheme img {
    transition: all 0.3s ease-out;
  }

  .toggleLang:hover img {
    transform: scale(0.8);
  }
  .toggleTheme:hover img {
    transform: scale(0.8);
  }

  .main {
    flex-grow: 0;

    & h1 {
      font-size: 5em;
      margin-top: 2%;

      &.projects-title {
        margin: 0;
        &.portfolio {
          font-size: 5em;
        }
      }
    }
  }

  .nav-items-dark,
  .nav-items-light {
    font-size: 1.3em;
    position: relative;
  }

  // Animations nav links dark mode
  .nav-items-dark::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: calc(-3px - 0.5vh);
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
    background: #fff;
  }

  // Animations nav links light mode
  .nav-items-light::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: calc(-3px - 0.5vh);
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
    background: #000;
  }

  .nav-items-dark:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  .nav-items-light:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
  }
}

/***** ANIMATIONS  *****/

@include showY(showNav, -300%);
@include showX(showThemeButton, -300%);
@include showX(showLangButton, 300%);

/***** ANIMATIONS LOADER  *****/

@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
