@charset "UTF-8";
/*****   BACKGROUNS COLORS   *****/
/*****   FONTS   *****/
/***** ANIMATIONS *****/
/***** RESPONSIVE *****/
/*****   BACKGROUNS COLORS   *****/
/*****   FONTS   *****/
/***** ANIMATIONS *****/
/***** RESPONSIVE *****/
/***** HOME *****/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-title {
  background: linear-gradient(225deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-img {
  width: 15vh;
  height: 15vh;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background-image: url("../images/Gilou_192x128.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  overflow: hidden;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-animation: rotateAuthor 0.5s ease-out 0.5s forwards;
          animation: rotateAuthor 0.5s ease-out 0.5s forwards;
}

.home-article {
  max-width: 500px;
  text-align: justify;
  word-break: break-all;
  font-size: calc(0.5em + 1.5vmax);
  line-height: auto;
  font-weight: 300;
  padding: 2% 5%;
  z-index: 1;
  pointer-events: none;
  -webkit-animation: showArticle 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
          animation: showArticle 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  overflow: hidden;
}

.home-asides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.home-asides-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-asides-content-linkOPC {
  width: 10vh;
  height: 10vh;
  background-image: url("../images/logos/OCR_64.svg");
  background-color: red;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.home-asides-content-linkOC {
  width: 10vh;
  height: 10vh;
  background-image: url("../images/logos/Oclock_64.svg");
  background-color: red;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.home-openCR {
  -webkit-animation: showOPC 0.5s ease-out;
          animation: showOPC 0.5s ease-out;
}

.home-oclock {
  -webkit-animation: showOC 0.5s ease-out;
          animation: showOC 0.5s ease-out;
}

.home-text-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(0.5em + 1.5vmax);
  font-weight: 200;
  margin-bottom: 2%;
}

.home-text-author-letters {
  display: inline-block;
  position: relative;
  margin: 0 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-animation: showAuthorHome 0.5s ease-out;
          animation: showAuthorHome 0.5s ease-out;
}

.home-text-author-letters-space {
  opacity: 0;
}

.home-text-author-letters:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.home-text-author:hover {
  cursor: none;
}

.home-text-author-letters:nth-child(1) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.home-text-author-letters:nth-child(2) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.home-text-author-letters:nth-child(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.home-text-author-letters:nth-child(4) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.home-text-author-letters:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.home-text-author-letters:nth-child(6) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.home-text-author-letters:nth-child(7) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.home-text-author-letters:nth-child(8) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.home-text-author-letters:nth-child(9) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.home-text-author-letters:nth-child(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.home-text-author-letters:nth-child(11) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.home-text-author-letters:nth-child(12) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.home-text-author-letters:nth-child(13) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.home-text-author-letters:nth-child(14) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.home-text-author-letters:nth-child(15) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.home-text-author-letters:nth-child(16) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.home-text-author-letters:nth-child(17) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

/***** RESPONSING  *****/
@media (min-width: 750px) {
  .home {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 990px) {
  .home {
    width: 80%;
  }
  .home-article {
    font-size: calc(0.8em + 1vmin);
    max-width: 50%;
    z-index: 1;
  }
  .home-img {
    width: 17vh;
    height: 17vh;
    background-image: url("../images/Gilou_454x303.jpg");
    position: relative;
    z-index: 5;
  }
  .home-img:hover {
    -webkit-filter: hue-rotate(3.142rad);
            filter: hue-rotate(3.142rad);
  }
  .home-text-author {
    font-size: calc(0.8em + 1vmin);
  }
  .home-asides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: _;
            flex-direction: _;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -21%;
  }
  .home-asides-content-linkOPC,
  .home-asides-content .home-asides-content-linkOC {
    width: 13vh;
    height: 13vh;
  }
  .home-asides-content-linkOPC:hover {
    background-blend-mode: exclusion;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .home-asides-content-linkOC:hover {
    background-blend-mode: exclusion;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

/***** ANIMATIONS  *****/
@-webkit-keyframes showOPC {
  from {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showOC {
  from {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes upSun {
  from {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showArticle {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showArticle {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotateAuthor {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes rotateAuthor {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes showAuthorHome {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showAuthorHome {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*****   BACKGROUNS COLORS   *****/
/*****   FONTS   *****/
/***** ANIMATIONS *****/
/***** RESPONSIVE *****/
/***** PROJECTS *****/
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-y: auto;
}

.projects-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4vh;
  height: 4vh;
  display: none;
  color: currentColor;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-animation: turnStart 0.8s ease-out;
          animation: turnStart 0.8s ease-out;
}

.projects-close-svg {
  height: 70%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.projects-close:active {
  -webkit-box-shadow: 0px 0px 10px 2px currentColor;
          box-shadow: 0px 0px 10px 2px currentColor;
}

.projects-title {
  background: linear-gradient(278.1deg, #60dd8e 8.7%, #28969a 88.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1% 0;
}

.projects-container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 350px);
  row-gap: 2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: auto;
  max-height: 300px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-animation: allProjects 0.5s ease-out;
          animation: allProjects 0.5s ease-out;
}

.projects-item-mokup {
  pointer-events: none;
  max-width: 60%;
  -webkit-animation: showProjects 0.3s ease-out;
          animation: showProjects 0.3s ease-out;
}

.projects-item-title {
  pointer-events: none;
  font-size: calc(0.5em + 1.5vmin);
  opacity: 0;
  -webkit-animation: showProjectsTitle 0.5s ease-out forwards;
          animation: showProjectsTitle 0.5s ease-out forwards;
}

.projects-item:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.projects-item:nth-child(1) .projects-item-title {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.projects-item:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.projects-item:nth-child(2) .projects-item-title {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.projects-item:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.projects-item:nth-child(3) .projects-item-title {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.projects-item:nth-child(4) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.projects-item:nth-child(4) .projects-item-title {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

/***** ONE PROJECT VIEW *****/
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-link-mokupDesk {
  height: 20vh;
}

.project-link-mokupMob {
  height: 12vh;
}

.project-intro {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  height: auto;
  font-size: calc(0.5em + 1.5vmin);
  text-align: center;
  margin: 3% auto;
  opacity: 0;
  z-index: 2;
  -webkit-animation: showDesc 0.3s ease-out 0.5s forwards;
          animation: showDesc 0.3s ease-out 0.5s forwards;
}

.link-desk {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin: 0 auto;
  z-index: 5;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-animation: deskUp 0.8s ease-out;
          animation: deskUp 0.8s ease-out;
}

.link-mob {
  position: absolute;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 10;
  -webkit-transform: scale(1.5) translateY(95%);
          transform: scale(1.5) translateY(95%);
  -webkit-animation: mobDown 1s ease-out;
          animation: mobDown 1s ease-out;
}

.link-mob.mokup_viewed {
  -webkit-transform: scale(1) translateY(105%) !important;
          transform: scale(1) translateY(105%) !important;
}

.technos-close {
  width: 3vh;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 7px;
  opacity: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-animation: showButton 0.3s ease-out forwards;
          animation: showButton 0.3s ease-out forwards;
}

.technos-close-svg {
  height: 100%;
  -webkit-animation: animButton 0.8s ease 1.3s forwards;
          animation: animButton 0.8s ease 1.3s forwards;
}

.technos-close.button_viewed {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
  color: currentColor;
  background-color: transparent;
}

.technos-close:active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.techs-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38% 38%;
      grid-template-columns: 38% 38%;
  row-gap: 2%;
  -webkit-column-gap: 10vw;
          column-gap: 10vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.techno {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.techno-logo {
  width: 8vw;
  max-width: 35px;
  max-height: 35px;
  position: relative;
  -webkit-transform: translateX(120%) scale(1.5);
          transform: translateX(120%) scale(1.5);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -webkit-animation: showLogos 0.8s ease-out 1.3s forwards;
          animation: showLogos 0.8s ease-out 1.3s forwards;
}

.techno-desc {
  max-width: 60%;
  font-size: 0.9em;
  line-height: 1.2em;
  text-align: jusity;
  word-break: keep-all;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out 0.2s;
  transition: opacity 0.3s ease-out 0.2s;
}

.techno-desc.technoDesc_viewed {
  opacity: 1;
}

.techno:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: end;
}

.techno:nth-child(2n) .techno-logo {
  -webkit-transform: translateX(-120%) scale(1.5);
          transform: translateX(-120%) scale(1.5);
}

.techno:nth-child(2n) .techno-logo.technoLogo_viewed,
.techno-logo.technoLogo_viewed {
  -webkit-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}

/***** RESPONSIVE  *****/
@media (min-width: 750px) {
  .projects {
    width: 100%;
  }
  .projects-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-item {
    height: 200px;
    width: 100%;
  }
  .projects-item-mokup {
    width: 100%;
    margin-bottom: 1%;
  }
  .projects-item:nth-child(3) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
  }
  .projects-item:nth-child(3) .projects-item-title {
    -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
  }
  .projects-item:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .projects-item:nth-child(4) .projects-item-title {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
  }
}

@media (min-width: 990px) {
  .projects-close {
    width: 4.5vh;
    height: 4.5vh;
    position: relative;
    padding: 5px;
    margin: 2% auto 0% 20%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .projects-close-svg {
    height: 80%;
  }
  .projects-close:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: currentColor;
  }
  .projects-close:hover svg {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .projects-container {
    width: 70%;
    -ms-grid-columns: (500px)[2];
        grid-template-columns: repeat(2, 500px);
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
  .projects-item {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: auto;
    width: 100%;
    padding-top: 4%;
    -webkit-transition: background-color 0.5s ease-out, -webkit-box-shadow 0.8s ease-out;
    transition: background-color 0.5s ease-out, -webkit-box-shadow 0.8s ease-out;
    transition: background-color 0.5s ease-out, box-shadow 0.8s ease-out;
    transition: background-color 0.5s ease-out, box-shadow 0.8s ease-out, -webkit-box-shadow 0.8s ease-out;
  }
  .projects-item-mokup {
    width: 90%;
    margin-bottom: 2%;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .projects-item:hover {
    -webkit-box-shadow: 0px 0px 30px 1px currentColor;
            box-shadow: 0px 0px 30px 1px currentColor;
  }
  .projects-item:active {
    background-color: currentColor;
  }
  .project {
    width: 70%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12;
        grid-template-columns: 12;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    pointer-events: none;
    -webkit-animation: isAnimate 1s forwards;
            animation: isAnimate 1s forwards;
  }
  .project-link {
    margin-bottom: 2%;
  }
  .project-link-mokupDesk {
    height: auto;
    width: 35vw;
  }
  .project-link-mokupMob {
    height: 12vw;
  }
  .project-intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    font-size: 1.3em;
    margin: 0 auto;
  }
  .project:hover .link-desk {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  .project:hover .link-mob {
    -webkit-transform: translate(400%, 0%);
            transform: translate(400%, 0%);
  }
  .project:hover .techno-logo {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
  .project:hover .techno-desc {
    opacity: 1;
  }
  .link-desk {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5 / 8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-animation: deskLeft 0.8s ease-out;
            animation: deskLeft 0.8s ease-out;
  }
  .link-mob {
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1 / 12;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    position: relative;
    -webkit-transform: scale(1) translateY(0%);
            transform: scale(1) translateY(0%);
    top: 3vw;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-animation: mobRight 0.8s ease-out;
            animation: mobRight 0.8s ease-out;
  }
  .technos-close {
    display: none;
  }
  .techs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: _;
            flex-direction: _;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2 / 11;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    -webkit-column-gap: unset;
            column-gap: unset;
    margin: 0 auto;
  }
  .techno {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 8vw;
    padding: 0 1%;
  }
  .techno-logo {
    width: auto;
    height: 100%;
    max-height: 60px;
    max-width: 100px;
    -webkit-transition: all 0.5s ease-out !important;
    transition: all 0.5s ease-out !important;
    -webkit-transform: translate(0%, 100%) scale(1.2);
            transform: translate(0%, 100%) scale(1.2);
    -webkit-animation: showLogosLarge 0.5s ease-out forwards;
            animation: showLogosLarge 0.5s ease-out forwards;
  }
  .techno-desc {
    max-width: 200px;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    -webkit-transition: opacity 0.5s ease-out 0.1s !important;
    transition: opacity 0.5s ease-out 0.1s !important;
  }
  .techno:hover.techno-logo {
    -webkit-transform: translateY(0) scale(1) !important;
            transform: translateY(0) scale(1) !important;
  }
  .techno:hover.techno-desc {
    opacity: 1 !important;
  }
  .techno:nth-child(2n) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .techno:nth-child(2n) .techno-logo {
    width: auto;
    height: 100%;
    max-height: 60px;
    max-width: 100px;
    -webkit-transform: translate(0%, 100%) scale(1.2);
            transform: translate(0%, 100%) scale(1.2);
  }
  .techno:nth-child(1) .techno-logo {
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
  .techno:nth-child(2) .techno-logo {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .techno:nth-child(3) .techno-logo {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .techno:nth-child(4) .techno-logo {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .techno:nth-child(5) .techno-logo {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .techno:nth-child(6) .techno-logo {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .techno:nth-child(7) .techno-logo {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .techno:nth-child(8) .techno-logo {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
}

/***** ANIMATIONS  *****/
@-webkit-keyframes showProjects {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes allProjects {
  from {
    background-color: transparent;
  }
  30% {
    background-color: currentColor;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes allProjects {
  from {
    background-color: transparent;
  }
  30% {
    background-color: currentColor;
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes showProjectsTitle {
  from {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showProjectsTitle {
  from {
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes turnStart {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes deskUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showDesc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes showButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes turnTechnos {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes showLogos {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes mobDown {
  from {
    -webkit-transform: scale(1) translateY(-200%);
            transform: scale(1) translateY(-200%);
  }
  50% {
    -webkit-transform: scale(1.5) translateY(95%);
            transform: scale(1.5) translateY(95%);
  }
  to {
    -webkit-transform: scale(1.5) translateY(95%);
            transform: scale(1.5) translateY(95%);
  }
}

@keyframes mobDown {
  from {
    -webkit-transform: scale(1) translateY(-200%);
            transform: scale(1) translateY(-200%);
  }
  50% {
    -webkit-transform: scale(1.5) translateY(95%);
            transform: scale(1.5) translateY(95%);
  }
  to {
    -webkit-transform: scale(1.5) translateY(95%);
            transform: scale(1.5) translateY(95%);
  }
}

@-webkit-keyframes animButton {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    fill: currentColor !important;
  }
}

@keyframes animButton {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    fill: currentColor !important;
  }
}

/***** ANIMATIONS LARGE SCREEN  *****/
@-webkit-keyframes deskLeft {
  from {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes mobRight {
  from {
    -webkit-transform: translateX(350%);
            transform: translateX(350%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes mobRight {
  from {
    -webkit-transform: translate(350%, 0%);
            transform: translate(350%, 0%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes showLogosLarge {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes isAnimate {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: all;
  }
}

@keyframes isAnimate {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: all;
  }
}

/*****   BACKGROUNS COLORS   *****/
/*****   FONTS   *****/
/***** ANIMATIONS *****/
/***** RESPONSIVE *****/
/***** CONTACT *****/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

.contact-title {
  background: -webkit-gradient(linear, left top, right top, from(#fee140), to(#fa709a));
  background: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 25%;
  position: relative;
  font-size: calc(0.7em + 1.5vh);
  font-weight: 200;
  text-align: center;
  pointer-events: none;
  margin: 5% 0 3%;
}

.type-web {
  font-weight: 600;
}

.type-js {
  font-style: italic;
  color: #d9ff00;
}

.type-front {
  font-weight: 600;
  word-break: break-word;
}

.type-react {
  font-style: italic;
  color: #12fff7;
}

.type-full {
  font-weight: 600;
}

.contact-links {
  width: 80%;
  height: 25%;
  position: absolute;
  top: 11%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.contact-links-link {
  opacity: 0;
  -webkit-animation: showLinks 0.8s ease-out forwards;
          animation: showLinks 0.8s ease-out forwards;
}

.contact-links-link svg {
  fill: currentColor;
  width: auto;
  height: 7vh;
}

.link-phone {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.link-linkedin {
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.link-github {
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.link-cv {
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/***** CONTACT FORM *****/
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 80%;
  position: relative;
  font-size: calc(0.5em + 1.3vh);
  font-weight: 300;
}

.contact-form-error {
  display: none;
  font-size: calc(0.5em + 1.3vh);
  line-height: calc(0.6em + 1.3vh);
  text-align: center;
  color: red;
}

.contact-form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 3%;
  opacity: 0;
  z-index: 1;
  -webkit-animation: showLabels 1s ease-out 1.2s forwards;
          animation: showLabels 1s ease-out 1.2s forwards;
}

.contact-form input {
  width: 99%;
  display: block;
  position: relative;
  font-size: calc(0.6em + 1.3vh);
  background: -webkit-gradient(linear, right top, left top, from(#ece9e6), to(#ffffff));
  background: linear-gradient(to left, #ece9e6, #ffffff);
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
  z-index: 2;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.contact-form input::-webkit-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form input:-ms-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form input::-ms-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form input::placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 99%;
}

.contact-form-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-form-message textarea {
  width: 100%;
  font-size: calc(0.6em + 1.3vh);
  background: -webkit-gradient(linear, right top, left top, from(#ece9e6), to(#ffffff));
  background: linear-gradient(to left, #ece9e6, #ffffff);
  border-radius: 5px;
  padding: 1%;
  z-index: 3;
}

.contact-form-message textarea::-webkit-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form-message textarea:-ms-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form-message textarea::-ms-input-placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-form-message textarea::placeholder {
  color: rgba(177, 29, 29, 0.697);
}

.contact-name {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  -webkit-animation: showInputName 0.5s ease-out 0.6s forwards;
          animation: showInputName 0.5s ease-out 0.6s forwards;
}

.contact-email {
  -webkit-transform: translateY(18vh);
          transform: translateY(18vh);
  -webkit-animation: showInputEmail 0.5s ease-out 0.8s forwards;
          animation: showInputEmail 0.5s ease-out 0.8s forwards;
}

.contact-container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-button {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: calc(0.5em + 1.5vh);
  background-color: #07c82a;
  padding: 1% 3%;
  margin: 4% auto 2%;
  border-radius: 5px;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  z-index: 1;
  -webkit-animation: showSubmit 1s ease-out 1s forwards;
          animation: showSubmit 1s ease-out 1s forwards;
}

.contact-button-error {
  background-color: #823737;
  color: red;
  cursor: default;
}

.contact-button-error:active {
  background-color: #d10202;
}

.form-success {
  min-height: 40vh;
  border-radius: 10px;
  margin-bottom: 7%;
}

/***** RESPONSIVE  *****/
@media (min-width: 990px) {
  .contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    overflow: hidden;
  }
  .contact-author {
    height: auto;
    margin: 1% 0;
  }
  .contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: _;
            flex-direction: _;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    width: 50%;
    height: auto;
    position: relative;
  }
  .contact-form {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    font-size: 1.1rem;
  }
  .contact-form-error {
    margin: 2% 0;
  }
  .contact-form-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
    margin-bottom: 1%;
  }
  .contact-form label {
    margin: 1% 0 1.5%;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
  .contact-form input {
    width: 99%;
    padding: 0.5%;
  }
  .contact-form textarea {
    padding: 0.5%;
  }
  .contact-container-info {
    width: 45%;
  }
  .link-phone,
  .link-linkedin,
  .link-github,
  .link-cv {
    -webkit-transition: color 0.2s, -webkit-transform 0.5s ease-out;
    transition: color 0.2s, -webkit-transform 0.5s ease-out;
    transition: color 0.2s, transform 0.5s ease-out;
    transition: color 0.2s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact-links-link:hover {
    position: relative;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    fill: #000;
  }
  .link-github {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .link-cv {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .contact-name {
    -webkit-transform: translateY(18vh);
            transform: translateY(18vh);
    -webkit-animation: showNameLarge 0.8s ease-out 0.6s forwards;
            animation: showNameLarge 0.8s ease-out 0.6s forwards;
  }
  .contact-email {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-animation: showEmailLarge 0.8s ease-out 0§s forwards;
            animation: showEmailLarge 0.8s ease-out 0§s forwards;
  }
  .contact-button {
    font-size: 1.2em;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin: 2% auto;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-animation: showSubmitLarge 0.8s ease-out 0.6s forwards;
            animation: showSubmitLarge 0.8s ease-out 0.6s forwards;
  }
  .contact-button:hover {
    -webkit-box-shadow: inset 0px 0px 1px 1px #07c82a;
            box-shadow: inset 0px 0px 1px 1px #07c82a;
    background-color: transparent;
    color: #fff;
  }
  .contact-button:active {
    background-color: #07c82a;
  }
  .contact-button-error:hover {
    -webkit-box-shadow: inset 0px 0px 1px 1px #d10202;
            box-shadow: inset 0px 0px 1px 1px #d10202;
    color: red;
  }
  .contact-button-error:active {
    background-color: #d10202;
  }
  .form-success {
    margin-bottom: 3%;
  }
}

/***** ANIMATIONS  *****/
@-webkit-keyframes showLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes showInputName {
  from {
    -webkit-transform: translateY(30vh);
            transform: translateY(30vh);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showInputEmail {
  from {
    -webkit-transform: translateY(18vh);
            transform: translateY(18vh);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showSubmit {
  from {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showNameLarge {
  from {
    -webkit-transform: scaleX(0.3) translate(50%, 18vh);
            transform: scaleX(0.3) translate(50%, 18vh);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@keyframes showNameLarge {
  from {
    -webkit-transform: scaleX(0.3) translate(50%, 18vh);
            transform: scaleX(0.3) translate(50%, 18vh);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@-webkit-keyframes showEmailLarge {
  from {
    -webkit-transform: scaleX(0.3) translate(-50%, 18vh);
            transform: scaleX(0.3) translate(-50%, 18vh);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@keyframes showEmailLarge {
  from {
    -webkit-transform: scaleX(0.3) translate(-50%, 18vh);
            transform: scaleX(0.3) translate(-50%, 18vh);
  }
  to {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
}

@-webkit-keyframes showLabels {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes showLabels {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showSubmitLarge {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

/***** RESET *****/
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font-family: "Nunito", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

svg {
  pointer-events: none;
  fill: currentColor;
}

a:-webkit-any-link {
  -webkit-appearance: none;
          appearance: none;
  text-decoration: none;
  border: none;
  color: inherit;
}

html {
  background-color: #000;
}

/***** HEADER APP *****/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 6%;
  padding: 0 3%;
  z-index: 100;
  overflow: hidden;
}

.header-nav {
  width: 60%;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-items {
  font-size: calc(0.5em + 1.5vmin);
  line-height: 1;
  font-weight: 400;
  cursor: pointer;
}

.activeNav {
  display: none;
}

.toggleTheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  max-height: 50px;
  position: relative;
  background-color: transparent;
  padding: 1%;
  cursor: pointer;
  border-radius: 50%;
  -webkit-animation: showThemeButton 1s ease-out forwards;
          animation: showThemeButton 1s ease-out forwards;
}

.toggleTheme img {
  height: 3vh;
}

.toggleLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 !important;
  -webkit-animation: showLangButton 1s ease-out forwards;
          animation: showLangButton 1s ease-out forwards;
}

.toggleLang img {
  height: 3.5vh;
}

/***** APP *****/
#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6vh 2% 2%;
}

.darkMode {
  background-color: #000;
  color: #fff;
}

.lightMode_home {
  background: linear-gradient(225deg, #0093e9 0%, #80d0c7 100%);
  color: #000;
}

.lightMode_projects {
  background: linear-gradient(278.1deg, #60dd8e 8.7%, #28969a 88.1%);
  color: #000;
}

.lightMode_contact {
  background: -webkit-gradient(linear, left top, right top, from(#fee140), to(#fa709a));
  background: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
  color: #000;
}

/***** MAIN *****/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: auto;
}

main h1 {
  text-align: center;
  font-family: "Anton";
  font-size: calc(2em + 2vmin);
  line-height: 1;
  margin: 3% 0 2%;
  pointer-events: none;
}

main h1.projects-title.portfolio {
  font-size: 2em;
}

/***** RESPONSIVE  *****/
@media (min-width: 750px) {
  main h1 {
    font-size: 3em;
    margin: 1% auto;
  }
}

@media (min-width: 990px) {
  #app {
    padding: 6vh 2% 2%;
  }
  .header {
    height: 5vh;
  }
  .toggleLang img,
  .toggleTheme img {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .toggleLang:hover img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .toggleTheme:hover img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .main h1 {
    font-size: 5em;
    margin-top: 2%;
  }
  .main h1.projects-title {
    margin: 0;
  }
  .main h1.projects-title.portfolio {
    font-size: 4em;
  }
  .nav-items-dark,
  .nav-items-light {
    font-size: 1.3em;
    position: relative;
  }
  .nav-items-dark::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: calc(-3px - 0.5vh);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    background: #fff;
  }
  .nav-items-light::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: calc(-3px - 0.5vh);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    background: #000;
  }
  .nav-items-dark:hover::before {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav-items-light:hover::before {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

/***** LOADER  *****/
.loader {
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 80px;
  height: 15px;
}

.loader-points {
  position: absolute;
  top: 0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: currentColor;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-points:nth-child(1) {
  left: 8px;
  -webkit-animation: loading1 0.6s infinite;
          animation: loading1 0.6s infinite;
}

.loader-points:nth-child(2) {
  left: 8px;
  -webkit-animation: loading2 0.6s infinite;
          animation: loading2 0.6s infinite;
}

.loader-points:nth-child(3) {
  left: 32px;
  -webkit-animation: loading2 0.6s infinite;
          animation: loading2 0.6s infinite;
}

.loader-points:nth-child(4) {
  left: 56px;
  -webkit-animation: loading3 0.6s infinite;
          animation: loading3 0.6s infinite;
}

@-webkit-keyframes loading1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loading2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes loading2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@-webkit-keyframes loading3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loading3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/***** ANIMATIONS  *****/
@-webkit-keyframes showNav {
  from {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showThemeButton {
  from {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes showLangButton {
  from {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */