/***** RESET *****/
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font-family: "Nunito", sans-serif;
}

svg {
  pointer-events: none;
}

/***** HEADER APP *****/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 7vh;
}

/***** NAV APP *****/
.nav {
  width: 60%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activeNav {
  display: none;
}

.toggleTheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  padding: 1%;
  border-radius: 50%;
}

.toggleTheme img {
  height: 2rem;
}

.toggleLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.toggleLang img {
  height: 2rem;
}

/***** APP *****/
#app {
  max-height: 100vh;
  padding: 0% 2% 2%;
  overflow: hidden;
}

.darkMode {
  background-color: #000;
  color: #fff;
}

.lightMode_home {
  background: linear-gradient(225deg, #0093e9 0%, #80d0c7 100%);
}

.lightMode_projects {
  background: linear-gradient(225deg, #12fff7 0%, #b3ffab 100%);
  color: #000;
}

.lightMode_contact {
  background: linear-gradient(225deg, #f83600 0%, #f9d423 100%);
  color: #000;
}

/***** MAIN *****/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main h1 {
  text-align: center;
  font-family: "Anton";
  font-size: 2.5rem;
  margin: 3% 0;
}

/***** HOME *****/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 93vh;
  position: relative;
}

.home-title {
  background: linear-gradient(225deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-img {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  background-image: url("../images/GilouSmall.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.home-article {
  text-align: center;
  font-size: 1.3rem;
  padding: 2% 5%;
}

.home-asides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: _;
          flex-direction: _;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home-asides-content img {
  height: 100px;
}

.home-text-author {
  font-size: 1.2rem;
  margin-bottom: 2%;
}

/***** PROJECTS *****/
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
  border: 1px solid red;
}

.projects-title {
  background: linear-gradient(225deg, #12fff7 0%, #b3ffab 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid cyan;
}

.projects-item-mokup {
  max-width: 60%;
  margin-bottom: 2%;
}

.projects-item-title {
  font-size: 1.3em;
}

/***** CONTACT *****/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92vh;
  position: relative;
}

.contact-title {
  background: -webkit-gradient(linear, left top, right top, from(#5d0000), to(#d90157));
  background: linear-gradient(to right, #5d0000, #d90157);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-author {
  position: absolute;
  top: 24%;
  font-size: 2em;
  font-weight: 200;
}

.contact-links {
  width: 80%;
  height: 30%;
  position: absolute;
  top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.contact-links-link {
  width: auto;
  height: 8vh;
  fill: currentColor;
}

.contact-links-link:nth-child(1) {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact-links-link:nth-child(2) {
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.contact-links-link:nth-child(3) {
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contact-links-link:nth-child(4) {
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/***** CONTACT FORM *****/
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 300;
}

.contact-form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 3%;
}

.contact-form input {
  width: 99%;
  font-size: 1.5rem;
  background: linear-gradient(45deg, #aafdfa, #69acb4);
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.contact-form-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-form-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-form-message textarea {
  width: 100%;
  font-size: 1.5rem;
  background: linear-gradient(45deg, #aafdfa, #69acb4);
  border-radius: 5px;
}

.contact-container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-button {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.5rem;
  background-color: #07c82a;
  padding: 1% 3%;
  margin: 4% auto 2%;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */